.content{
    /* margin:8vh; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  position:  absolute;        /* 要素の配置方法を指定 */
    padding:  20px;             /* 余白指定 */
    left:  50px;                /* 左からの位置指定 */
    top: 50px; 
}