html,body{

  height: 100%;
}
body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face { 
  font-family: "Geon";
  src: url("./fonts/Geon.otf") format("opentype");
  font-weight: 100 900;
}
@font-face { 
  font-family: "Fester";
  src: url("./fonts/Fester_Trial-Heavy.otf") format("opentype");
  font-weight: 100 900;
}
/* a {
 font-family: "Fester", sans-serif;
  font-size:larger;
  font-weight: 150;
  color:#1b1b1b;
} */
.test{
 font-family: "AH_SuperDuper-Bold", sans-serif;
  font-size:larger;
  font-weight: 150;
  color:#1b1b1b;
}
.gradient-title {
    animation: AnimationTitle 5s ease infinite;
    background: linear-gradient(to right, #4bd960,#00c7d1);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    font-family: "Geon", sans-serif;
    font-weight: 450;
    line-height: 1;
    text-align: center;
}
.gradient-link {
    animation: AnimationTitle 5s ease infinite;
    background: linear-gradient(to right, #08aeea,#2af598);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    font-family: "Fester", sans-serif;
    font-weight: 450;
    line-height: 1;

  text-align:center;
}
:any-link{
  text-decoration:none;
}
@keyframes AnimationTitle {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}